@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Caveat:wght@600&family=Dancing+Script:wght@500&family=Festive&family=Fredoka&family=Hubballi&family=Hurricane&family=Indie+Flower&family=Inspiration&family=Jacques+Francois+Shadow&family=Josefin+Sans&family=Lobster&family=Orbitron:wght@500&family=Palette+Mosaic&family=Shadows+Into+Light&family=Smooch+Sans:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
